button {
  font-size: 1rem;
  border: 2px solid none;
  background: transparent;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

button:hover {
  background: rgb(200 200 200);
  cursor: pointer;
}

* {
  font-family: sans-serif;
  color: white;
}
body {
  background-color: rgb(104, 142, 231);
}

a {
  text-decoration: none;
}
.item.darkmode {
  background: rgb(31, 31, 32);
  color: rgb(168, 212, 248);
}

.item.darkmode button {
  color: white;
}
.item {
  padding-top: 1rem;
  font-size: 1rem;
}
body.darkmode {
  background: rgb(28, 28, 29);
  color: rgb(228, 227, 218);
  --accent-color: red;
}
body.darkmode button {
  color: rgb(228, 227, 218);
}
.item.big {
  font-size: 2rem;
}
a.big {
  font-size: 7rem;
}
body.darkmode button:hover {
  background: rgb(143, 143, 143);
}
