button {
  font-size: 1rem;
  border: 2px solid none;
  background: transparent;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

button:hover {
  background: rgb(200 200 200);
  cursor: pointer;
}
div {
}
* {
  font-family: sans-serif;
  color: white;
}
body {
  background-color: rgb(104, 142, 231);
}

a {
  text-decoration: none;
}
#item.darkmode {
  background: rgb(31, 31, 32);
  color: rgb(168, 212, 248);
}

#item.darkmode button {
  color: white;
}
